@page "/"

<PageTitle>Home</PageTitle>


<div class="page-contain">

    <!-- Main content -->
    <div id="main-content" class="main-content">

        <!--Block 01: Main slide-->
        <P_Banner />

        <!--Block 02: Banner-->
        <P_ProductIshot />

        <!--Block 03: Product Tab-->
        <P_ProductRelated />

        <!--Block 04: Banner Promotion 01 -->
        <P_BannerBottom/>

        <!--Block 06: Products-->
        <P_ProductTop />


        <P_Introduces />

    </div>

</div>
