<div class="main-slide block-slider">
    <ul class="biolife-carousel nav-none-on-mobile" data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": true, "speed": 800}'>
        <li>
            <div class="slide-contain slider-opt03__layout01">
                <div class="media">
                    <div class="child-elememt">
                        <a href="#" class="link-to">
                            @* <img src="img_dev/banner1.png" width="604" height="580" alt=""> *@
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="slide-contain slider-opt03__layout01">
                <div class="media">
                    <div class="child-elememt">
                        <a href="#" class="link-to">
                            @* <img src="assets/images/home-03/slide-01-child-01.png" width="604" height="580" alt=""> *@
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>