<!--Block 08: Blog Posts-->
<div class="blog-posts sm-margin-top-93px sm-padding-top-72px xs-padding-bottom-50px">
    <div class="container">
        <div class="biolife-title-box">
            <h3 class="main-title">Tin tức</h3>
        </div>
        <ul class="biolife-carousel nav-center nav-none-on-mobile xs-margin-top-36px" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":3, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 3}},{"breakpoint":992, "settings":{ "slidesToShow": 2}},{"breakpoint":768, "settings":{ "slidesToShow": 2}},{"breakpoint":600, "settings":{ "slidesToShow": 1}}]}'>
            <li>
                <div class="post-item effect-01 style-bottom-info layout-02 ">
                    <div class="thumbnail">
                        <a href="/chi-tiet-tin-tuc" class="link-to-post"><img src="https://bizweb.dktcdn.net/100/522/662/articles/302573808-572500487997778-1605640173844753275-n-e7cb213c-3259-42d6-8122-668a4d83ad2f.png?v=1723521164943" width="370" height="270" alt=""></a>
                        <div class="post-date">
                            <span class="date">26</span>
                            <span class="month">dec</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <h4 class="post-name"><a href="#" class="linktopost">Ashwagandha: The #1 Herb in the World for Anxiety?</a></h4>
                        <p class="excerpt">Did you know that red-staining foods are excellent lymph-movers? In fact, many plants that were historically used as dyes...</p>
                        <div class="group-buttons">
                            <a href="/chi-tiet-tin-tuc" class="btn readmore">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="post-item effect-01 style-bottom-info layout-02 ">
                    <div class="thumbnail">
                        <a href="/chi-tiet-tin-tuc" class="link-to-post"><img src="https://bizweb.dktcdn.net/100/522/662/articles/302573808-572500487997778-1605640173844753275-n-bda8366a-83d7-40d7-8b01-0fef2e281b5c.png?v=1723519954977" width="370" height="270" alt=""></a>
                        <div class="post-date">
                            <span class="date">26</span>
                            <span class="month">dec</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <h4 class="post-name"><a href="#" class="linktopost">Ashwagandha: The #1 Herb in the World for Anxiety?</a></h4>

                        <p class="excerpt">Did you know that red-staining foods are excellent lymph-movers? In fact, many plants that were historically used as dyes...</p>
                        <div class="group-buttons">
                            <a href="/chi-tiet-tin-tuc" class="btn readmore">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="post-item effect-01 style-bottom-info layout-02 ">
                    <div class="thumbnail">
                        <a href="/chi-tiet-tin-tuc" class="link-to-post"><img src="https://bizweb.dktcdn.net/100/522/662/articles/302573808-572500487997778-1605640173844753275-n-e7cb213c-3259-42d6-8122-668a4d83ad2f-copy-a4bd89d5-e14b-4a64-bc45-d56ce5acd7b3.jpg?v=1728903537017" width="370" height="270" alt=""></a>
                        <div class="post-date">
                            <span class="date">26</span>
                            <span class="month">dec</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <h4 class="post-name"><a href="#" class="linktopost">Ashwagandha: The #1 Herb in the World for Anxiety?</a></h4>

                        <p class="excerpt">Did you know that red-staining foods are excellent lymph-movers? In fact, many plants that were historically used as dyes...</p>
                        <div class="group-buttons">
                            <a href="/chi-tiet-tin-tuc" class="btn readmore">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>