@page "/dang-nhap"
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer
<!--Navigation section-->
<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a href="index-2.html" class="permal-link">Home</a></li>
            <li class="nav-item"><span class="current-page">Authentication</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain login-page">

    <div id="main-content" class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="signin-container">
                        <EditForm Model="User" OnValidSubmit="HandleLogin" name="frm-login" method="post" FormName="form-login">
                            <DataAnnotationsValidator />
                            <p class="form-row">
                                <label for="fid-name">Email Address:<span class="requite">*</span></label>
                                <InputText @bind-Value="User.Email" type="text" id="fid-name" name="name" class="txt-input" />
                            </p>
                            <p class="form-row">
                                <label for="fid-pass">Password:<span class="requite">*</span></label>
                                <InputText @bind-Value="User.Password" type="password" id="fid-pass" name="password" class="txt-input" />
                            </p>
                            <p class="form-row wrap-btn">
                                <button class="btn btn-submit btn-bold" type="submit">Đăng nhập</button>
                                <a href="#" class="link-to-help">Forgot your password</a>

                                @if (!string.IsNullOrEmpty(loginError))
                                {
                                    <div class="alert alert-danger">
                                        @loginError
                                    </div>
                                }
                            </p>
                        </EditForm>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="register-in-container">
                        <div class="intro">
                            <h4 class="box-title">New Customer?</h4>
                            <p class="sub-title">Create an account with us and you’ll be able to:</p>
                            <ul class="lis">
                                <li>Check out faster</li>
                                <li>Save multiple shipping anddesses</li>
                                <li>Access your order history</li>
                                <li>Track new orders</li>
                                <li>Save items to your Wishlist</li>
                            </ul>
                            <a href="/dang-ky" class="btn btn-bold">Tạo tài khoản</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

@code{

    public LoginDto User = new();
    private string loginError;
    private string errorMessage = string.Empty;
    private string returnUrl = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        // await CheckUserAuthentication();
    }

    private async Task HandleLogin()
    {
        var result = await _accountServices.Login(User);

        if (result.IsAuthSuccessful)
        {
            errorMessage = string.Empty;

            // AuthState.IsLoggedIn = true;

            // Lưu token vào LocalStorage
            await localStorage.SetItemAsync("authToken", result.Token);
            ((CustomAuthStateProvider)AuthenticationStateProvider).NotifyUserAuthentication(result.Token);
            NavigationManager.NavigateTo("/");

            // StateHasChanged();

        }
        else
        {
            loginError = "Đăng nhập không thành công. Vui lòng kiểm tra thông tin đăng nhập của bạn";
            return;
        }
    }

}