@page "/dang-ky"
@rendermode InteractiveServer
<!--Navigation section-->
<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a href="index-2.html" class="permal-link">Home</a></li>
            <li class="nav-item"><span class="current-page">Authentication</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain login-page">

    <!-- Main content -->
    <div id="main-content" class="main-content">
        <div class="container">

            <div class="row">

                <!--Form Sign In-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="signin-container">
                        <EditForm Model="registerDto" OnValidSubmit="HandleRegister" id="form-register" FormName="form-register">
                            <DataAnnotationsValidator />
                            <p class="form-row">
                                <label>Họ và tên:<span class="requite">*</span></label>
                                <InputText type="text" @bind-Value="registerDto.UserName" class="txt-input" />
                            </p>
                            <p class="form-row">
                                <label>Email Address:<span class="requite">*</span></label>
                                <InputText type="text" name="name" @bind-Value="registerDto.Email" class="txt-input" />
                            </p>

                            <p class="form-row">
                                <label>Mật khẩu:<span class="requite">*</span></label>
                                <InputText type="password" @bind-Value="registerDto.Password" class="txt-input" />
                            </p>
                            <p class="form-row">
                                <label>Xác nhận mật khẩu *:<span class="requite">*</span></label>
                                <InputText type="password" @bind-Value="registerDto.ConfirmPassword" class="txt-input" />
                            </p>
                            <p class="form-row wrap-btn">
                                <button class="btn btn-submit btn-bold" type="submit">Đăng ký</button>
                            </p>
                        </EditForm>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

@code {
    private RegisterDto registerDto = new RegisterDto();
    private string? _errorMessage;

    private async Task HandleRegister()
    {
        _errorMessage = null; // Reset thông báo lỗi
        var response = await _accountServices.RegisterUserAsync(registerDto);
        if (response.IsAuthSuccessful)
        {
            // await localStorage.SetItemAsync("UserEmail", registerDto.Email);
            // Chuyển hướng đến trang đăng nhập
            await Task.Delay(1000);
            NavigationManager.NavigateTo("/dang-nhap", forceLoad: true);
        }
        else
        {
            _errorMessage = "Đã xảy ra lỗi trong quá trình đăng ký.";
        }
    }
}